* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
}
main{
    margin-top: 100px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 16px;
}

.sac-titulo {
    font-size: 20px;
}

.sacola-titulo {
    width: 100%;
    padding-left: 85px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
}

#sacola-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 1200px;
    max-width: 100%;
    margin: 0px 80px;
}

.sacola-item1 {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    order: 1;
    grid-column: 1;
    grid-row: 1/3;
    }

.sacola-item1 > h2{
    font-size: 16px;
}

.titulo-tenis{
    font-weight: bold;
    font-size: 14px;
}

.selecao-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#numeracao,
#quantidade,
#modelo,
#cor {
    width: 40%;
}

.resumo-compra {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    order: 2;
    grid-column: 2;
    grid-row: 1;
}

.resumo-compra > p{
    font-weight: bold;
}

.finalizar, .continuar {
    width: 70%;
    background-color: #FFCC01;
    color: white;
    font-weight: bold;
    border-color: #FFCC01;
    border-radius: 5px;
    padding: 5px;
    margin-left: 80px;
}

.carrosel-container {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    order: 4;
    grid-column: 2;
    grid-row: 2;
}

/* IMAGENS */

.sapato {
    width: 25%;
}

.lixeira1 {
    width: 3%;
    align-self: flex-end;
}

.tenis-carrossel{
    width: 25%;
    margin: 10px;
    border: 2px solid #FFCC01;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.842);
    border-radius: 5px;
}

.setas{
    width: 3%;
}

