@import url("https://use.typekit.net/xcg0udj.css");

* {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;

}

#menu {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3)
}

.nav {
  display: inline-block;
  padding: 10px 10px;
  transition: .6s;
}

.nav-options {
  color: black;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.nav:hover {
  background-color: #FFCC01;
  border-radius: 5%;
}

/* CENTRALIZAR LOGO E NAO MOVIMENTAR Ao EXECUTAR ANIMAÇÃO DE PESQUISAR */
.logo img {
<<<<<<< HEAD
  width: 90%;
  position: relative;
  left: 100px;

}

.anim-lupa {
  width: 130px;
  margin-left: 70px;
  left: 80px;
=======
  width: 30%;
  position: fixed;
  width:auto;
  height:90px;
  left: 45%;
  top:1px;
>>>>>>> aa89022547324ea056e1e3b6703d4e1a42121241

}

.pesquisa {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  left: 120px;
  gap: 5px;

  /* background-color: rgb(255, 255, 255); */
  /* border-radius: 50px; */
  /* border: black solid 1px; */
}

.input {
  /* background: none; */
  border: none;
  outline: none;
  width: 0;
  transition: .5s;
  text-align: center;
}

.pesquisa:hover>.input {
  width: 60%;

}

.lente {
  border-radius: 50%;
  margin-right: 10px;
  width: 100%;
  height: 25px;
  align-items: center;
  margin-top: 3px;
}

.icon-lente img {
  width: 100%;
  height: 20px;

}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  padding: 20px 20px;
  width: 300px;

}

.icones {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  /* transition: 0.6seg; */
}

<<<<<<< HEAD
.icon-icones

/* :hover  */
  {
  background-color: #FFCC01;
=======
.icon-icones/* :hover  */{
>>>>>>> aa89022547324ea056e1e3b6703d4e1a42121241
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 100%;
}

footer {
  background-color:white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logofooter {
  width: 150px;
  height: 150px;
  margin: 80px;
}

.links {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

.container-atendimento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destaque {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: bold;
  list-style: none;
  font-size: larger;
  margin-bottom: 3px;
  color: gray;
  
}

.linkpag {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;

}

.redes-socias {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
<<<<<<< HEAD

=======
>>>>>>> aa89022547324ea056e1e3b6703d4e1a42121241
  list-style: none;
 
}

.redes-socias li {
  margin-right: 20px;
}

.container-redes{
  display: flex;
  margin-left: 20%;
 
}

.copyright {
  font-size: xx-small;
}

footer {
  font-weight: bold;
}

/* .container-frete{
    position: absolute;
    width: 100%;
    left: 0;
    margin-top:80px;
    margin-right: 10px;
} */

/* .faixafrete{
    position: fixed;
}
 */

@media (max-width: 630px) {

  .nav-bar {
    max-width: 70%;
    margin: 0 auto;
  }

}

@media (max-width: 460px) {

  .nav-bar {
    max-width: 60%;
    margin: 0 auto;
  }

}