<footer>
  <div class="logofooter">
    <img src="./img/imghome/logofooter.png">
  </div>
  <section class="links">
    <div class="container-info">
      <ul class="info-list">
        <li class="destaque">Informações</li>
        <li class="linkpag"><a class="nav-options" href="/politicas">Sobre nós</a></li>
        <li class="linkpag"><a class="nav-options" href="/politicas">Política de Privacidade</a></li>
        <li class="linkpag"><a class="nav-options" href="/politicas">Política de Frete</a></li>
        <li class="linkpag"><a class="nav-options" href="/politicas">Política de Trocas e Devoluções</a></li>
      </ul>
    </div>

    <div class="container-atendimento">
      <ul class="atend-list">
        <li class="destaque">Atendimento</li>
        <li class="linkpag"><a class="nav-options" href="/pedido">Acompanhe seu pedido</a></li>
        <li class="linkpag"><a class="nav-options" href="#">Fale conosco</a></li>
        <li class="linkpag"><a class="nav-options" href="#">Dúvidas Frequentes</a></li>
        <li class="linkpag"><a class="nav-options" href="#">Trocas ou Devoluções</a></li>
      </ul>
    </div>
    <div class="container-redes">
      <ul class="redes-socias">
        <li><a href="https://web.facebook.com/profile.php?id=100063440151298"><img src="./img/imghome/facebook.png" alt="Icon Facebook"></a></li>
        <li><a href="https://www.instagram.com/menina_dos_sapatos/"><img src="./img/imghome/instagram.png" alt="Icon Instagram"></a></li>
      </ul>
  </section>
  <!-- <div class="copyright">
    <p>© 2020 Copyright - Todos os direitos reservados</p>
  </div> -->
</footer>