<header id="menu">

  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav feminino"><a class="nav-options" href="/feminino">PRODUTOS</a></li>
      <li class="nav promocoes"><a class="nav-options" href="/promocoes">PROMOÇÕES</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a href="/"><img class="logo-princ" src="./img/imghome/MeninaDosSapatos.png" alt="logomarca" ></a>
  
  </div>
  <div class="anim-lupa">
    <form class="pesquisa">
      <input class="input" type="text" name="search" placeholder="Pesquisar">
      <a class="icon-lente" href="#">
        <img class="lente" src="./img/imghome/lente2.png" alt="lente" height="15" width="15">
      </a>
    </form>
  </div>
  

  <div class="icon">
    <ul class="icones">
      
      <figure class="usuario-icon">
      <li class="icon-icones"><a href="/perfil"><img src="./img/imghome/iconeUser.png" alt="Icon User"></a></li>
      </figure>

      <figure class="favoritos-icon">
      <li class="icon-icones"><a href="/favoritos"><img src="./img/imghome/iconeFav.png" alt="Icon Favoritos"></a></li>
      </figure>

      <figure class="sacola-icon">
      <li class="icon-icones"><a href="/sacola"><img src="./img/imghome/iconeSacola.png" alt="Icon Sacola"></a></li>
      </figure>

    </ul>
  </div>


</header>