<header id="menu">

    <nav class="nav-bar">
      <ul class="nav-list">
        <li class="nav feminino"><a class="nav-options" href="feminino.html">FEMININO</a></li>
        <li class="nav masculino"><a class="nav-options" href="#">MASCULINO</a></li>
        <li class="nav promocoes"><a class="nav-options" href="#">PROMOÇÕES</a></li>
      </ul>
    </nav>

    <div class="logo">
      <img class="logo-princ" src="./img/imghome/MeninaDosSapatos.png" alt="logomarca">
    </div>
    <div class="anim-lupa">
      <form class="pesquisa">
        <input class="input" type="text" name="search" placeholder="Pesquisar">
        <a class="icon-lente" href="#">
          <img class="lente" src="./img/imghome/lente2.png" alt="lente" height="15" width="15">
        </a>
      </form>
    </div>
    

    <div class="icon">
      <ul class="icones">
        <li class="icon-icones"><a href="perfil.html"><img src="./img/imghome/iconeUser.png" alt="Icon User"></a></li>
        <li class="icon-icones"><a href="#"><img src="./img/imghome/iconeFav.png" alt="Icon Favoritos"></a></li>
        <li class="icon-icones"><a href="sacola.html"><img src="./img/imghome/iconeSacola.png" alt="Icon Sacola"></a></li>
      </ul>
    </div>

  </header>