<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menina dos Sapatos</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://kit.fontawesome.com/32cf0bc5ba.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- HEADER - MENU PRINCIPAL -->
    <%- include("./partials/header") %>
    <main>
      <!-- Acesso Fácil -->
      <div class="acesso">
          <p class="acesse"> Acesso fácil</p>
          <p>Conecte-se usando seu cadastro de outra plataforma</p>
      </div>
      <div class="imagensAcesso">
          <img class="logoGoogle" src="./img/imgLogin/Google.png" alt="Logo Google">
          <img class="logoFacebook" src="./img/imgLogin/Facebook.png" alt="Logo Facebook">
          <img class="logoApple" src="./img/imgLogin/Apple.png" alt="Logo Google">
      </div>
      <!-- Formulário Quero me Cadastrar -->
      <div class="queroMeCadastrar">
        <form action= "/usuario/cadastro" method="POST">
          <fieldset>
            <legend> QUERO ME CADASTRAR </legend>
            <div class="inputBox">
              <label for="email">E-mail*</label>
              <input type="email" id="email" name="email" class="inputUser" placeholder="E-mail"
              required />
            </div>
            <div class="inputBox">
              <label for="nome">Nome*</label>
              <input type="text" id="nome" name="nome" class="inputUser" placeholder="Nome" required />
            </div>
            <div class="inputBox">
              <label for="sobrenome">Sobrenome*</label>
              <input type="text" id="sobrenome" name="sobrenome" class="inputUser" placeholder="Sobrenome"
              required />
            </div>
            <div class="inputBox">
              <label for="senha">Senha:</label>
              <input type="password" id="password" name="password" class="inputUser" placeholder="Senha"
              required />
            </div>
            <div class="boxAviso">
              <img class="aviso" src="./img/imgLogin/aviso.png" alt="aviso">
              <p class="textpaviso">Mínimo 6 dígitos</p>
              <img class="aviso" src="./img/imgLogin/aviso.png" alt="aviso">
              <p class="textpaviso">Letras</p>
              <img class="aviso" src="./img/imgLogin/aviso.png" alt="aviso">
              <p class="textpaviso">Números</p>
            </div>
            <div class="password">
              <label for="confirmacaoSenha">Confirmação de Senha:</label>
              <input type="password" id="confpassword" name="confpassword" class="inputUser"
              placeholder="Confirme a senha" required />
            </div>
            <div class="conectado">
              <label for="conectado">Mantenha-me conectado</label>
              <input type="checkbox" id="conectado" name="conectado" />
            </div>

            <div class="conectado">
              <label for="termos">Li e concordo com os Termos de uso</label>
              <input type="checkbox" id="termos" name="termos" />
            </div>
            <div class="button">
              <button type="submit">ME CADASTRAR</button>
            </div>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>