<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menina dos Sapatos</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://kit.fontawesome.com/32cf0bc5ba.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- HEADER - MENU PRINCIPAL -->
    <%- include("./partials/header") %>
    <main>
      <!-- Acesso Fácil -->
      <div class="acesso">
          <p class="acesse"> Acesso fácil</p>
          <p>Conecte-se usando seu cadastro de outra plataforma</p>
      </div>
      <div class="imagensAcesso">
          <img class="logoGoogle" src="./img/imgLogin/Google.png" alt="Logo Google">
          <img class="logoFacebook" src="./img/imgLogin/Facebook.png" alt="Logo Facebook">
          <img class="logoApple" src="./img/imgLogin/Apple.png" alt="Logo Google">
      </div>
      <!-- Formulário Tenho Cadastro -->
      <div class="formularios">
        <% if(typeof errors != 'undefined'){ %>
          <ul>
              <% for(let i=0; i < erros.length;i++){ %>
                  <li style="color: red"><%=errors[i] %></li>
              <%} %>
          </ul>
      <%} %>
        <div class="tenhoCadastro">
          <form action="/usuario/login" method="post">
            <fieldset>
              <legend>TENHO CADASTRO</legend>
              <div class="inputBox">
                <label for="email">E-mail*</label>
                <input type="email" id="email" name="email" class="inputUser" placeholder="E-mail"
                required />
              </div>
              <div class="inputBox">
                <label for="senha">Senha*</label>
                <input type="password" id="password" name="password" class="inputUser" placeholder="Senha"
                required />
              </div>
              <div class="conectado">
                <label for="conectado">Mantenha-me conectado:</label>
                <input type="checkbox" id="conectado1" name="conectado" />
              </div>
              <a class="esqueci" href="url">Esqueci minha senha</a>
              <div class="button">
                <button type="submit">ENVIAR</button>
              </div>
            </fieldset>    
          </form>
        </div>
      <br>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>