<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/politicas.css">
  <title>Menina dos Sapatos - Politicas</title>
</head>
<body>
  <%- include("./partials/header") %>
  <main>
    <section class="polit">
      <div class="grl">
        <div class="toppag">
          <div class="navigation-container">
            <div class="navigation">
              <h1>NAVEGUE AQUI</h1>
              <nav class="nav-bar">
                <ul class="nav-list">
                  <li class="nav"><a class="nav-options" href="/">Quem somos</a></li><br>
                  <li class="nav"><a class="nav-options" href="#privacidade">Política de privacidade</a></li><br>
                  <li class="nav"><a class="nav-options" href="#frete">Política de Frete</a></li>
                  <li class="nav"><a class="nav-options" href="#troca">Política de troca e devolução</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <article class="quemsomos">
            <h2>QUEM SOMOS</h2>
            <p>Quando você realiza uma compra ou contrata um serviço na Netshoes, nas empresas do grupo econômico do Magazine Luiza ou nas lojas parceiras, você nos fornece alguns dados pessoais com o objetivo de viabilizar a sua operação.
  
            A Netshoes preza pela segurança dos seus dados, pelo respeito a sua privacidade e pela transparência com você e, por isso, dedicamos este documento para explicar como os seus dados pessoais serão tratados pela Netshoes e quais são as medidas que aplicamos para mantê-los seguros.
            
            Antes de mais nada, nos apresentamos, nós somos a NS2.com Internet S/A, inscrita no CNPJ 09.339.936/0001-16, com sede na Cidade de São Paulo, Estado de São Paulo, na Rua Maria Prestes Maia, 300, Carandiru, e segundo a definição trazida pela Lei Geral de Proteção de Dados “LGPD” (Lei Federal nº 13.709.2018), na maior parte do tempo seremos o controlador das suas informações, sendo assim, responsável por definir o que acontece com estes dados e por protegê-los.
            
            A Netshoes é uma empresa do Magazine Luiza S/A, inscrito no CNPJ 47.960.950/1088-36, com sede na Cidade de Franca, Estado de São Paulo, na Rua Voluntários da Franca, 1.465, Centro. Você poderá acessar as empresas que compõem nosso grupo econômico no site de Relações com Investidores, por meio do link ri.magazineluiza.com.br.
            
            Para facilitar a compreensão desta política, todas as vezes que encontrar os termos “Magalu”, “Netshoes”, “nós” ou “nossos”, estamos nos referindo ao controlador dos seus dados pessoais, ou seja, as empresas do Grupo Magalu e, todas as vezes que ler “usuário”, “você”, “seu” ou “sua”, nos referimos a você, nosso cliente ou usuário das nossas plataformas.</p>
          </article>
        </div>
        <article >
          <h2 id="privacidade">POLÍTICA DE PRIVACIDADE</h2>
          <p>Quando você realiza uma compra ou contrata um serviço na Netshoes, nas empresas do grupo econômico do Magazine Luiza ou nas lojas parceiras, você nos fornece alguns dados pessoais com o objetivo de viabilizar a sua operação.
  
            A Netshoes preza pela segurança dos seus dados, pelo respeito a sua privacidade e pela transparência com você e, por isso, dedicamos este documento para explicar como os seus dados pessoais serão tratados pela Netshoes e quais são as medidas que aplicamos para mantê-los seguros.
            
            Antes de mais nada, nos apresentamos, nós somos a NS2.com Internet S/A, inscrita no CNPJ 09.339.936/0001-16, com sede na Cidade de São Paulo, Estado de São Paulo, na Rua Maria Prestes Maia, 300, Carandiru, e segundo a definição trazida pela Lei Geral de Proteção de Dados “LGPD” (Lei Federal nº 13.709.2018), na maior parte do tempo seremos o controlador das suas informações, sendo assim, responsável por definir o que acontece com estes dados e por protegê-los.
            
            A Netshoes é uma empresa do Magazine Luiza S/A, inscrito no CNPJ 47.960.950/1088-36, com sede na Cidade de Franca, Estado de São Paulo, na Rua Voluntários da Franca, 1.465, Centro. Você poderá acessar as empresas que compõem nosso grupo econômico no site de Relações com Investidores, por meio do link ri.magazineluiza.com.br.
            
            Para facilitar a compreensão desta política, todas as vezes que encontrar os termos “Magalu”, “Netshoes”, “nós” ou “nossos”, estamos nos referindo ao controlador dos seus dados pessoais, ou seja, as empresas do Grupo Magalu e, todas as vezes que ler “usuário”, “você”, “seu” ou “sua”, nos referimos a você, nosso cliente ou usuário das nossas plataformas.</p>
        </article>
        <article >
          <h2 id="frete">POLÍTICA DE FRETE</h2>
          <p>O serviço de entregas de produtos comercializados pela Svarts abrange todo o território nacional. O prazo de entrega pode variar de acordo com o CEP de destino. A Svarts procura cumprir rigorosamente seus prazos de entregas, e preza por isso. Vendas realizadas e aprovadas até às 12:00h são enviadas no mesmo dia (em D). Vendas realizadas e aprovadas das 12:01h até às 00:00h são enviadas no dia seguinte (em D+1).  Assim que o pedido do cliente é aprovado, o produto é separado e emitida a Nota Fiscal, bem como a etiqueta de endereçamento com o respectivo código de rastreio. O cliente receberá em seu email cadastrado o código de rastreio, para acompanhar a entrega do seu pedido.  O recebimento da mercadoria pode ser realizado por terceiros, como porteiros de condomínios e familiares, desde que se identifiquem e assinem o comprovante de recebimento da mercadoria. De acordo com as informações dos Correios, podem ser realizadas até três tentativas de entrega do produto em dias úteis não consecutivos. Ocorrendo as três tentativas de entrega sem sucesso, o produto será devolvido ao nosso Centro de Distribuição. Para um novo envio, fica válido novamente o primeiro prazo de entrega informado. Dependendo da localização e em CEPs que os Correios ou Transportadora consideram área de risco, será necessário que o destinatário retire a encomenda na agência indicada.  As entregas são realizadas de segunda a sexta-feira, em horário comercial. Por motivos alheios à vontade da Svarts, poderão haver atraso nas entregas, mas faremos o possível para minimizar eventuais atrasos.   Caso a entrega não ocorra dentro do prazo estipulado, a Svarts abrirá uma reclamação junto a empresa de logística competente. O prazo de resposta às manifestações é de até 5 dias úteis. Dependendo da ocorrência, por exemplo, no caso de haver necessidade de uma melhor avaliação do problema, esse prazo poderá ser maior. E caso o produto não seja localizado, o cliente será ressarcido em 100% do valor pago ou, se preferir, poderá realizar um novo pedido do mesmo valor no site da Svarts.</p>
        </article>
        <article >
          <h2 id="troca">POLÍTICA DE TROCA E DEVOLUÇÃO</h2>
          <p> Dentro da proposta de atendimento de excelência e satisfação ao cliente, a Política de Troca, Devolução e Cancelamento da Svarts é bastante transparente, simples e fácil de se realizar. Para troca, devolução ou cancelamento solicitamos que o cliente entre em contato com nossos canais de atendimento - Fale Conosco ou Central de Relacionamento, informando o número do pedido ou CPF do titular da compra. A solicitação também pode ser feita pelo WhatsApp SAC Svarts (16) 99728-0433 ou pelo E-mail SAC Svarts sac@svarts.com.br. No rodapé do site, em Ajuda e Atendimento, acesse a opção Trocas e Devoluções e preencha o formulário informando a solicitação.  Obs.: somente o titular do pedido pode pedir o cancelamento.   TROCA E DEVOLUÇÃO As trocas de produtos solicitadas pelos clientes poderão ser realizadas em até 30 dias corridos a partir da data do recebimento do pedido. Para solicitar a troca em caso de defeito, o prazo é de até 90 dias corridos a partir do recebimento do produto. A troca pode ser pelo mesmo produto ou uma variação do mesmo, desde que haja disponibilidade em estoque. Caso o produto não tenha disponibilidade para troca, pode optar-se por um produto de igual ou maior valor, pagando-se a diferença, em boleto, depósito ou cartão de crédito. Pode-se optar também por um Cupom de Desconto no valor da troca do produto, que terá validade de um ano. O produto deve ser devolvido em sua embalagem original, da mesma maneira em que foi enviado e não deve conter indícios de uso, além de estar acompanhado da Nota Fiscal que seguiu originalmente. Todos os produtos devolvidos passam por uma análise no momento em que chegam ao nosso Centro de Distribuição, e só serão liberados após análise e aprovação, dentro das condições descritas nessa política. Na primeira troca, as despesas de transporte são por conta da Svarts. Nas demais solicitações de troca de um mesmo pedido, as despesas ocorrerão por conta do cliente.   CANCELAMENTO Se a opção de pagamento escolhida foi o boleto bancário ou depósito bancário, e o pagamento ainda não foi efetuado, o pedido será cancelado automaticamente no prazo de vencimento do boleto, sem qualquer ônus para você. No caso de depósito, será cancelado após 3 dias úteis do pedido. Se a opção for cartão de crédito, será estornado nos mesmos moldes de parcelamento realizado na compra. Se após ter recebido o produto em perfeitas condições e por algum motivo não ter gostado, o cliente poderá solicitar o cancelamento do pedido.  O prazo para solicitar o cancelamento da compra é de até 07 dias corridos após o recebimento do produto. O produto  deverá ser devolvido através do serviço de postagem. O cliente receberá o Código Reverso dos Correios em seu e-mail, com todos os procedimentos a serem cumpridos. O produto deve ser devolvido em sua embalagem original, acompanhado de Nota fiscal, e não poderá apresentar qualquer indício de uso. O produto que não atender às condições exigidas acima, não será aceito como devolução e automaticamente será remetido de volta ao endereço de origem do pedido.</p>
        </article>
      </div>
    </section>    
  </main>
  <%- include("./partials/footer") %>
</body>
</html>