.container-main{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

/* Banner - carrossel */ 
.conteiner-banner {
  height: 10%;
  max-width: 100%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  overflow: hidden;
   
}

/* Tamanho do banner 1 */
.slide img {
  margin-top: 4.5%;
  width: 100%;
  height: 100%;
}

/* Tamanho do banner 2 */
.slide1 img {
  width: 100%;
  height: 100%;
}

/* Link para paginas de genero especifico */
.gen-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}

/* Texto mais vendidos */
.container-maisVendidos {
  align-items: center;
  text-align: center;
}

/* Div com Div de produtos dentro - carrossel */
.container-img-maisVendidos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Div de produtos */
.container-img {
  width:80%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;  
}

/* Tamanho das imagems */
.container-img-maisVendidos img{
  width: 300px;
}

/* Texto de Promoção */
.container-promocao {
  text-align: center;
  display: block;
}

/* Backgound para incorporação de avaliações e comentarios */
.backgound {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  background-color: #FFCC01;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.zoom{
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  overflow: hidden;
}

.zoom img{
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 80%;
}

.zoom:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Container de postagens em destaque */
.container-postagens {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: 20%;
}

/* Postagem em indivudual */
.post {
  margin-right: 20px;
  align-items: flex-start;
 }

/* Backgound de cadastro para cupons */
.backgound2 {
  display: flex;
  height: 200px;
}

/* Background pai */
.backgound2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

/* Cor do background */
.cadastro {
  background-color: #c9c9c9;
  width: 100%;
  height: 200px;
}

.txtcadastro {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
}

.text-cadastre {
  font-size: x-large;
  margin-top: 10px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
  position: relative;

}

.input-field input {
  position: relative;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.input-field input::placeholder {
  color: rgb(74, 74, 74);
  font-size: medium;
}

.input-field .underline {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background: black;
}

form input[type="submit"] {
  margin-top: 10px;
  padding: 0.4rem;
  cursor: pointer;
  background: none;
  border-radius: 10px;
  transition: 0.5s;
  font-size: large;
}

form input[type="submit"]:hover {
  background-color: #cdcbcb;
}

.strbold {
  font-weight: bold;
}

/* **********************************************************************************************
***********************************   MEDIA QUERIES   ******************************************* 
********************************************************************************************** */

/* Small Screens *****************************************************************************/

@media only screen and (max-width: 640px) {}

/* End of small Screens*/



/* Medium Screens ****************************************************************************/

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .watch-slider .slide {
    width: 33%;
  }
}

/* End of Medium Screens*/




/* Large Screens *****************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

  .global-page-container {
    width: 1024px;
  }

}

/*   End of Large Screens*/



/* Extra Large Screens ***********************************************************************/

@media only screen and (min-width: 1441px) {

  .global-page-container {
    width: 1440px;
  }

}

/* End of Extra Large Screens*/