.acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
}

.acesse {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    margin: 1%;
    margin-top: 8%;
}

.imagensAcesso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.imagensAcesso .logoGoogle {
    align-items: center;
}

.imagensAcesso .logoFacebook {
    align-items: center;
    padding-left: 2%;
}

.imagensAcesso .logoApple {
    align-items: center;
    padding-left: 2%;
}

.boxAviso {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 9px;
    width: 100%;
    align-items: center;
    padding: 0%;
    padding-left: 5%;
}

.aviso {
    display: flex;
    justify-content: space-between;
    width: 10px;
    height: 10px;
    align-items: center;
    padding: 0%;
}

.textpaviso {
    padding: 10px;
}

form {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 6px 10px;
    margin: 12px 2px;
    box-sizing: border-box;
}

form input {
    padding: 10px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;

}

.div.inputBox {
    margin-bottom: 60px;
    padding: 10px;
    margin: 6px 80px;
}

input#conectado,
input#termos,
input#conectado1 {
    margin: 0%;
    padding: 0%;
    width: 10%;

}

form button {
    background-color: #FFCC01;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    cursor: pointer;
}

form label {
    margin-left: 10px;
}

form input:focus {
    background-color: #f7f1dc;
}

fieldset {
    border: 1px solid #FFCC01;
    border-radius: 10px;
    width: 400px;

}

legend {
    background-color: #FFCC01;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: black;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
}

.inputUser {
    width: 100%;
    outline: none;
    color: gray;
    width: 100%;
    font-family: montserrat, sans-serif;
    font-weight: 400;
 font-size: 10px;
}


i {
    color: #FFCC01;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icon {
    display: flexbox;
}

.conectado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 10px;
}

.esqueci{
    font-size: 10px;
    color: black; 
    margin-left: 22px;
}


.formularios {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;

}

.titulo1 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titulo2 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
}



.tenhoCadastro {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.queroMeCadastrar {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}