.container {
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.link1 {
  background-color: yellow;
  
}



.Minhaconta {
  text-decoration: none;
  list-style: none;
}

.perfil {
  text-decoration: none;
  list-style: none;
  
}

