.containe {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 150px
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.items {
    align-self: flex-end;
}

.select-image {
    max-width: 400px;
}

.select-image img {
    max-width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 5px;
}

.thumbnail img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.content {
    width: 400px;
}

.right-side h6 {
    font-size: 14px;
    color: #FFCC01;
    background-color: black;
    width: fit-content;
    padding: 5px 10px;
    text-align: center;
    margin-top: 50px;
}

.right-side h1 {
    font-size: 8px;
    color: #FFCC01;
    background-color: black;
    width: fit-content;
    padding: 5px 10px;
    align-self: center;
}


.right-side p {
    color: #565656;
    font-size: 14px;
}

.prices {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.price {
    font-size: 17px;
    font-weight: bold;
}

.off {
    font-size: 13px;
    color: rgb(121, 121, 121);
    text-decoration: line-through;
}

.options {
    display: flex;
    gap: 10px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #e6e4e4;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}

.amount span {
    font-weight: 700;
    font-size: 14px;
}

.minus, .plus {
    cursor: pointer;
}

.button {
    display: inline-block;
    color: #000000;
    background-color: #FFCC01;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    font-weight: 700;
}

.container-maisVendidos {
    margin-top: 80px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;

}

.container-img-maisVendidos {
    
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}
.strbold{
    font-weight: bold;
  }