@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
}

header,
footer {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 16px;
}

.subMenu {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

nav#submenu {
    width: 100%;
    display: inline-block;
    justify-content: center;
}

a.link01 {
    text-decoration: none;
    color: black;
}

a.link01:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu1 {
    display: inline-block;
    justify-content: space-around;
    padding: 10px 50px;
    color: black
}

.end01 {
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    text-align: end;
}
#pedido-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.endereço-container {
    width: 20%;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 2px;
    order: 1;
}

.entrega-container {
    width: 25%;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 2px;
    order: 2;
}

.pagamento-container {
    width: 25%;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    padding: 15px;
    margin-top: -504px;
    margin-left: 2px;
    order: 4;
}

.resumo-container {
    width: 30%;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 2px;
    order: 3;
}

form input:not([type='radio']):not([type='checkbox']),
form textarea,
form select {
    width: 50%;
    padding: 3px;
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    border-color: #C4C4C4;
    margin-bottom: 15px;
    resize: none;
}

.cartao1,
.boleto1 {
    font-weight: bold;
}

.autenticacao, .limite{
    font-size: 12px;
}

a.link2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.link2:hover {
    text-decoration: underline;
}

button {
    background-color: white;
    color: #FFCC01;
    border-color: #FFCC01;
    border-radius: 5px;
    padding: 5px;
}

.finalizar {
    background-color: #FFCC01;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 5px;
}


/* IMAGENS */

.cartaocredito {
    width: 5%;
}

.boleto {
    width: 5%;
}

.sapato {
    width: 50%;
}